<header>
  <h1>Welcome Mr Shiner 2!</h1>
  <h2>We are using Rails <%= Rails.version %></h2>
  <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Tooltip on top
  </button>
</header>
<section>
  <p>Future home of Shine's Dashboard</p>
</section>